@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Montserrat:wght@500;600;800;900&family=Poppins:wght@100;300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Montserrat:wght@500;600;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;300;400;500;700;800&display=swap');
body{
   
    
}

.navbar{
position: absolute;
width: 1536px;
height: 90px;
left: 0px;
top: 0px;

background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-items{
    list-style: none;
  
}

.nav-logo{
    position: absolute;
    width: 311px;
    height: 49px;
    left: 75px;
    top: 20px;
}

.icon-home{
position: absolute;
width: 30px;
height: 32.37px;
left: 1125px;
top: 33px;
}

.icon-tool{
    position: absolute;
width: 30px;
height: 32.37px;
left: 1178px;
top: 33px;


}
.icon-bell{
     
position: absolute;
left: 84.35%;
right: 11.49%;
top: 35.74%;
bottom: 96.4%;
 
}

.icon-profile{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 263px;
    top: 30px;
}
.icon-dot{
    position: absolute;
    width: 3.03px;
    height: 2.99px;
    right: 170px;
    top: 41px;
    rotate: 90deg;
    background-color: #000000;
}
.icon-dot1{
    position: absolute;
    width: 3.03px;
    height: 2.99px;
    right: 170px;
    top: 46.98px;
    background-color: #000000;

}
.icon-dot2{
    position: absolute;
    width: 3.03px;
    background-color: #000000;

    height: 2.99px;
    right: 170px;
    top: 52.97px;
   
}


/* journey board */
.journey-board{
    position: absolute;
    top:0px;
    left: 0;
transition: 1s ease-in-out;
transform: translateX(-340px);

}


.journey-toggle{
transform: translateX(0px);
}

.journey-top{
    position: relative;
    left: 0%;
    right: 74.20%;
    top: 12.99%;
    bottom: 2.24%;
    z-index: 1;
    background: #000000;
    border-radius: 0px 20px 0px 0px;
}

.journey-bottom{
    position: absolute;
    width: 415px;
    height: 692px;
    left: px;
    top: 150px;
    z-index: 1;
    background: #FDFDFD;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}

.journey-switch{
    position:relative;
   
    background-color: #F0F0F0;
    border-radius:20px;
    width: 26px;
    height: 26px;
     left: 360px;
     outline:solid white 2px;
     top:109px;
    transition: 0.5s ease-in-out;
  
}

.journey-switch-rotate{
    transform: rotate(-180deg);

}

.journey-heading{
    position: absolute;
width: 309px;
height: 24px;
left: 32px;
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;
}
.journey-text{
    position: absolute;
width: 395px;
height: 44px;
left: 0px;
top: 76px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
background-color: black;
padding-top: 20px;
padding-left: 20px;
border-top-right-radius: 10px;
/* identical to box height */

letter-spacing: 0.02em;

color: #FFFFFF;
}
.journey-items{
    position: absolute;
width: 309px;
height: 110px;
left: 32px;
top: 53px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color: #000000;
}
.journey-num{
    box-sizing: border-box;

position: absolute;
width: 68px;
height: 68px;
left: 32px;
top: 16px;

border: 1px solid #0029FF;
border-radius: 20px;
}
.journey-number{
    position: relative;
width: 12px;
height: 54px;
left: 20px;
bottom: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.02em;

color: #0029FF;

}
.notice-bg{
    position: absolute;
width: 95px;
height: 394px;
right: 0px;
top: 90px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px 0px 0px 30px;
}
.noticeboard{
    position: absolute;
    width: 394px;
    height: 50px;
    left: 1150px;
    top: 281px;
    z-index: 1;
    background: #000000;
    border-radius: 30px 30px 0px 0px;
    transform: rotate(-90deg);

    
}

.X-icon{
    position: absolute;
    left: 5px;
   
}
.notice-text{
    position: absolute;
    width: 12px;
    height: 274px;
    right:30px;
   background-color: #000000;
 padding: 60px 20px;
 padding-top: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
   border-top-left-radius:10px ;
   border-bottom-left-radius: 10px;
    color: #ffff;
    writing-mode:vertical-rl;
    text-orientation: upright;
}
.sub-text{
    position: absolute;
width: 466px;
height: 42px;
left: 187px;
top: 108px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.02em;
color: #0029FF;
}

.btn{
    position: absolute;
width: 121px;
height: 36px;
left: 1132px;
top: 130px;
background: #0029FF;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
border-color: #0029FF;
/* identical to box height */


color: #FFFFFF;

}

.container{
    position: absolute;
    width: 1066px;
    height: 135px;
    left: 187px;
    top: 187px;
    
    background: #E9ECEF;
    border-radius: 5px;
}

.box-heading{
    position: absolute;
width: 374.05px;
height: 30px;
left: 21px;
top:10px;



font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;}

.box-para{
    position: absolute;
    width: 1012px;
    height: 45px;
    left: 21px;
    top: 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    
    color: #000000;
     
}

.wrapper{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: ; */
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.card-box{
position: relative;
width: 480px;
height: 580px;
left: 200px;
top: 400px;

background: #FDFDFD;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

}

.card-title{
    position: absolute;
    width: 480px;
    height: 50px; 
    background: #000000;
    border-radius: 15px 15px 0px 0px;
}

.asset-title{
    position: absolute;
width: 247px;
height: 22px;
left:27%;


font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.02em;

color: #FFFFFF;

}

.asset-descrip{
    position: absolute;
width: 453px;
height: 83px;
left: 22px;
top: 86px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.02em;

color: #000000;
}

.asset-content{
    position: absolute;
width: 480px;
height: 291px;
padding: 180px 0px;

}

.asset-icon{
    position:relative;
    width: 22px;
    height: 22px;
     left: 440px;
     top:12px

}

.arrow{
    position: absolute;
left: 5.57%;
right: 46.32%;
top: 30.95%;
bottom: 68.52%;

/* background: #000000; */
/* border: 0.1px solid rgba(0, 0, 0, 0.4); */
/* transform: matrix(1, 0, 0, -1, 0, 0); */
transition: 0.5s ease-in-out;
}
.arrow-rotate{
    transform: rotate(-180deg);}

.thread{
    box-sizing: border-box;

    position: absolute;
 
    height: 27px;
    left:120.59px;
    top: 150px;
    /* background: rgba(0, 0, 0, 0.05); */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    
    color: #000000;
}

.threadA-content{
    
    transition: 0.5S ease-in-out;
   
}
/* .threadA-show{
   display: none;
  
    
    
} */

.thread-btn{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
font-family: 'Poppins';
color: white;
background: #0029FF;
border-radius: 10px;
width: 100px;
height: 37px;
top:400px;
left:15px;
border-color: #0029FF;

}

.summary{
position: absolute;
width: 425px;
height: 108px;
left: 33px;
top: 453px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
background: rgba(0, 0, 0, 0.05);
}

.summary-text{
    position: absolute;
left: 1%;
right: 4.77%;
top: 0;
bottom: .19%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;

}
.summary-input{
    position: absolute;
width: 420px;
height: 83px;
left: px;
top: 28px;

background: #FAFAFA;
border-radius: 10px;
border: 0.1px solid #333333;

}


.thread-icons{
    list-style: none;
    display: flex;
    margin-top: 380px;
    margin-left: 110px;
    gap:10px;
}
.bg-layer{
   
    position: absolute;
    left: 3.68%;
    right: 52.5%;
    top:37.46%;
    bottom: 37.94%;
    margin-top: 00px;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.5;
    border: 0.1px solid #333333;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.upper-layer{
    box-sizing: border-box;

position: absolute;
left: .68%;
right: .5%;
top: 25.46%;
bottom: .94%;

background: rgba(0, 0, 0, 0.05);
opacity: 0.5;
border: 0.1px solid #333333;
box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.bg-layer-1{
    position: absolute;
    left: 53.68%;
    right: 3%;
    top: 37.46%;
    bottom: 37.94%;
    
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.5;
    border: 0.1px solid #333333;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.sub-heading{
    position: absolute;
    left: 4.16%;
    right: 0.84%;
    top: .68%;
    bottom: .43%;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
}

.title{
    position: absolute;
width: 85px;
height: 33px;
left: 45px;
top: 200px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.02em;

color: #000000;
}

.title-input{
    position: absolute;
width: 422px;
height: 43px;
left: 40px;
top: 231px;

background: #FCFBFB;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
border-radius: 5px 5px 0px 0px;
}

.content{
    position: absolute;
width: 85px;
height: 33px;
left: 45px;
top: 300px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.02em;

color: #000000;

}

.menus{
    position: absolute;
width: 422px;
height: 82px;
left: 30px;
top: 340px;

background: #FCFBFB;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
border-radius: 5px 5px 0px 0px;
}
.menu-item{
    display: flex;
    list-style: none;
    gap:10px;
    width: 22px;
height: 22px;
left: 265px;
top: 1403px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.02em;

color: #616161;
}

.menu-item-1{
    display: flex;
    list-style: none;   
    gap: 20px;
   color: #616161;



}

.text-field{
    position: absolute;
width: 419px;
height: 142px;
left: 30px;
top: 420px;

background: #FCFBFB;
box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
border-radius: 0px;
}

.dropdown{
    position: absolute;
width: 91px;
height: 32px;
left: 1107px;
top: 720px;
}

